<ion-header>
  <ion-toolbar>
    <ion-title>NASA NEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button fill="outline" expand="full" (click)="watch()"><a href="https://www.youtube.com/watch?v=21X5lGlDOfg">Play</a></ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>NASA x SpaceX</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      NASA and SpaceX just sent astronauts to the ISS in a United States rocket!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>NASA's Curious Universe Podcast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a href="https://podcasts.apple.com/us/podcast/nasas-curious-universe/id1505624059"> Join in on Nasa's Curious Universe podcast!</a> 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>NASA's Houston We Have a Podcast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <a href="https://www.nasa.gov/johnson/HWHAP"> Join in on Nasa's Houston We Have a Podcast!</a> 
    </ion-card-content>
  </ion-card>
</ion-content>
