<ion-tabs no-padding no-margin class="no-border-radius segment-card">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="yoga"  class="segment-item">
      <ion-icon name="body-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="simulation">
      <ion-icon name="trending-up-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="food">
      <ion-icon name="fast-food-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="contact">
      <ion-icon name="pulse-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="entertainment">
      <ion-icon name="tv-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
